<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fsiles.name.voicefeature">

    <uses-permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name="fsiles.name.qsrelay.feature.VoiceActivity">
            <intent-filter>
                <action android:name="android.intent.action.VOICE_COMMAND" />
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.VOICE" />
            </intent-filter>
        </activity>
    </application>
</manifest>
